#cMarkHalberstadtLabel_MainPage {
    display:none;
    margin-left:auto;
    margin-right:auto;
}

#engineerLabelImg {
    display:none;
    margin-left:auto;
    margin-right:auto;
}

#dash_1_Img {
    display:none;
    margin-left:auto;
    margin-right:auto;
}

#musicianLabelImg {
    display:none;
    margin-left:auto;
    margin-right:auto;
}

#dash_2_Img {
    display:none;
    margin-left:auto;
    margin-right:auto;
}

#teacherLabelImg {
    display:none;
    margin-left:auto;
    margin-right:auto;
}
